body {
    background-color:white; 
}


h4{
    text-align: center;
    color:rgb(42, 42, 221)
}

.logo{
    line-height: 0.1;
    text-align: center;
}

.main-heading{
    text-align: center;
    color: darkblue;
    font-weight: 800;
}

.table{
    line-height: 3; 
}

li {
    margin: 30px;
}

.smaller-li {
    font-size:x-small;
    margin-top: 4px;
}

.title {
    font-size:x-large;
}

.bigger-letter {
    font-size: xx-large;
}

.left-align {
    text-align: left;
    font-size: small;
    margin-bottom: 6px;
}

footer {
    text-align: center;
}