body {
    background-color: white;
}

.title, h5, h3{
    text-align: center; 
    color: rgb(14, 14, 96);
}

.title {
    font-weight: 800;
    margin-top: 30px;
}

h4{
    text-align: center; 
    color: rgb(14, 14, 96);
}

.logo{
    line-height: 0.1;
    text-align: center;
}

.main-heading{
    line-height: 0.1;
}

.table{
    line-height: 3;
}

li {
    margin: 30px
}
.B{
    font-size:xx-large
}
.column2{
    padding-left: 200px;
}

h6{
    margin-top: 5px;
}

a active{
    color: blue;
}
a :visited{
    color: rgb(154, 1, 101);
}